body {
    padding: 10px;
    height: 100%;
}

.body_wrapper {
    width: 60%;
    margin: 0 auto;
}

.body_wrapper>a {
  color: black;
  text-decoration: none;
}

@media only screen and (max-width: 1240px) {
    .body_wrapper {
      width: 100%;
    }
  }

.card-body {
  margin: 0px;
  height: 100%;
}

.listing_img {
  width: 320px;
  padding: 0px;
  margin: 15px 0px 15px 0px;
}

@media only screen and (max-width: 768px) {
  .listing_img  {
    width: 240px;
    padding: 0px;
    margin: 0px;
  }
}

.card-body.listing {
  display: flex;
}

.card-body.listing_detail {
  display: flex;
  flex-direction: column;
}
.card-body.listing_detail > img {
  object-fit: contain;
  max-width: 75%;
  max-height: 60vh;
  width: auto;
  height: auto;
}
@media only screen and (max-width: 768px) {
  .card-body.listing_detail > img {
    max-width: 100%;
  }
}

.description {
  white-space: pre-wrap;
}

.listing_data {
  width: 100%;
  padding: 0% 10% 0% 0%;
}
.listing_detail > .listing_data {
  margin-left: 3%;
}
