{% extends "auctions/layout.html" %}

{% block body %}
    <div class="body_wrapper">
        <div class="card">
            <div class="card-body listing_detail">
                <div class="listing_data">
                    <h1 class="display-4">{{ listing.listing_title }}</h1>
                    {% if on_watchlist %}
                        <button type="button" class="btn btn-outline-secondary btn-sm" disabled>Watchlist</button>
                        <br>
                    {% endif %}

                </div>
                {% if listing.imgfile %}
                    <img src="../media/{{listing.imgfile}}" class="mr-3 listing_img" alt="{{listing.listing_title}}">
                {% else %}
                    <img src="../media/default.png" class="mr-3 listing_img" alt="{{listing.listing_title}}">
                {% endif %}
                <div class="listing_data">
                    <div class="description">{{listing.description}}</div><br>
                    <h4><b>Price:</b> {{ listing.current_price|floatformat:2 }}€</h4>
                    <small class="text-muted">Created {{listing.time_starting}}</small>
                    <br>
                    {% if user.is_authenticated %}
                        {% if on_watchlist %}
                            <form action="{% url 'watchlist' listing.id %}" method="post">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-warning" value="Remove from Watchlist">
                            </form>
                            <br>
                        {% else %}
                            <form action="{% url 'watchlist' listing.id %}" method="post">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-success" value="Watchlist">
                            </form>
                            <br>
                        {% endif %}
                        {% if listing.is_active %}
                            <p>{{numb_bids}} bid(s) so far.{% if user.id == listing.highest_bidder %} Your bid is the current bid.{% endif %}</p>
                            <form action="{% url 'bid' listing.id %}" method="post">
                                {% csrf_token %}
                                {{ bid_form.bid_price }}
                                <br>
                                <input type="submit" class="btn btn-info" value="Place Bid">
                            </form>
                        {% endif %}
                    {% endif %}
                    <br>
                    <h4>Details</h4>
                    <ul>
                        <li>Listed by: <em>{{listing.user}}</em></li>
                        <li>Category: {{listing.category}}</li>
                    </ul>
                    {% if user.username == listing.user.username and listing.is_active %}
                        <form action="{% url 'close' listing.id %}" method="post">
                            {% csrf_token %}
                            <input type="submit" class="btn btn-danger" value="Close this auction">
                        </form>
                        <br>
                    {% endif%}
                    {% if user.id == listing.highest_bidder and not listing.is_active %}
                        <div class="alert alert-success" role="alert">
                            Congratulations! You have won this auction!
                        </div>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}