{% extends "auctions/layout.html" %}

{% block body %}
    <div class="body_wrapper">
        <h2>Create a New Listing</h2>

        <form action="{% url 'new' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="user" value="{{ user.username }}">
            <div>
                <label for="listing_title">Title:</label><br>
                {{ form.listing_title }}
            </div><br>
            <div class="form-group">
                <label for="image_upload">Please upload an image</label>
                {{ form.imgfile }}
            </div>
            <div>
                <label for="min_price">Min Price:</label><br>
                {{ form.min_price }}
            </div><br>
            <div class="form-group">
                <label for="description">Description:</label>
                {{ form.description }}
            </div>
            <div>
                <label for="category">Category:</label><br>
                {{ form.category }}        
            </div>
            <br>
            <button type="submit" class="btn btn-info">Submit</button>
        </form>
    </div>
{% endblock %}